@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
  scroll-behavior: smooth;
}

html, body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/back.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat

}

.container{
  width: 100%;
  height: 100%;
}

.content{
  height: 100%;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header {
  width: 100%;
  padding: 25px 0px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header hr {
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  height: 2px;
  width: 80%;
  background: white;
  margin-top: 25px;
}

.menu {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu span {
  color: white;
  font-size: 30px;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0px 25px 0px 25px;
}

.adress {
  color: white;
  text-align: center;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: white;
  opacity: 0.9;
}

.carousel {
display: flex;
width: 100%;
height: 50%;
justify-content: center;
align-items: center;
}
.carousel button {
  background: none;
  border: none;
}
.carousel .slider {
  text-align: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  color: white;
  overflow: hidden;
}
.carousel .slider-line {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.carousel .slider-line p {
  min-width: 100%;
}


.typeofart{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block{
  width: 50%;
  height: 50%;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
}

.block span{
  font-size: 25px;
  font-weight: bolder;
}

.block p{
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.burger{
  display: none;
  background: black;
  width: 25px;
  height: 20px;
  border-radius: 5px;
}

@media (max-width: 750px){


  .menu span{
    display: none;
  }

  .burger{
    display: block;
  }
}
